<h1>Testing ERB code</h1>

<%= 1 + 10 %>
<br />

<%target = "World" %>
<%= "Hello #{target}" %>


<% 3.times do %><br />
 <%= "xxx" %> 
<%end%>

<% @array.each do |n| %><br />
 <%= n %>
<% end %>
<br />
<a href ="/demo/index">Index Page</a><br />


