<h1>Demo#index</h1>
<p>From index world</p>


<a href ="/demo/hello">Hello page</a><br />
<%= link_to('erb_test page', {:action => 'erb_test'}) %>
<br />


<%= link_to('Hello with Parameters', {:action => 'hello',:page => 5, :id => 20})%>

<br />

